@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #f8f9fa;
}

.app-content {
  display: flex;
  min-height: calc(100vh - 70px);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
